html {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.container-fluid {
    justify-content: center !important;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-nav a:hover {
    font-size: 25px;
    color: blueviolet !important;
}

.name {
    font-family: 'Caveat', cursive;
    font-size: 100px;
}

.title {
    font-family: Helvetica, sans-serif;
}

.about-me {
    color: white;
}

.my-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-project {
    width: 60%;
    border: none;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.center {
    margin: 0 auto;
}

.projects-carousel {
    margin-top: 50px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.carousel-caption p {
    color: white !important;
}

.carousel-indicators button {
    color: white !important;
}

.links {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

.links i {
    margin: 10px;
    color: white;
    font-size: 30px;
}
