* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    margin-bottom: 0;
}

.hamburger {
    display: none;
    margin-right: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: rgb(50, 192, 192);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
}

.navlogo {
    width: 60px;
    float: left;
    margin-left: 15px;
}

.name {
    font-family: 'Caveat', cursive;
    font-size: 100px;
    padding-top: 200px;
}

.bio {
    margin: 20px;
}

.title {
    font-family: Helvetica, sans-serif;
}

.about-me {
    padding-top: 80px;
}

.my-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-me {
    margin-top: 30px;
    margin-bottom: 40px;
}

.skill-title {
    padding-top: 80px;
}

.skill-list {
    margin: 30px auto;
}

.skill-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
}

.skill-box {
    height: 100px;
    width: 100px
}

.skill-box i {
    font-size: 30px;
}

.works-box {
    padding-top: 80px;
}

.main-project {
    width: 60%;
    border: none;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.card-body {
    background-color: #1D3557;
}

.card-text {
    color: white;
}

.description {
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.modelo-btn {
    background-color: #457B9D;
    color: #F1FAEE;
    border: none;
}

.center {
    margin: 0 auto;
}

.projects-carousel {
    margin-top: 50px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.github-link {
    color: lightskyblue !important;
}

.contact-me {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-form {
    width: 270px;
    margin: 0 auto;
    text-align: left;
}

.text-field {
    margin-top: 20px;
}

.connect-btn {
    padding: 5px;
    color: white;
    background-color: blueviolet;
    border: none;
    box-shadow: 3px 3px 3px rgb(42, 9, 73);
    border-radius: 3px;
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

.links i {
    margin: 10px;
    color: white;
    font-size: 30px;
}

@media only screen and (max-width: 992px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
